@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.port-card:hover .port-overlay {
    display: flex;
}

.port-overlay {
    transition: 0.9s all ease-in-out;
}

.port-card {
    background-position: center;
    background-size: cover;
}

.modal-full {
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
.card-service {
    height: 420px;
}


@media only screen and (max-width: 1900px) {
    .card-service {
        width: 100%;
    }
    header{
        padding: 0px 30px;
    }
}
@media only screen and (max-width: 1300px) {
    .card-service {
        width: 95%;
    }
    .service-section{
        padding: 0px 25px;
    }
    header{
        padding: 0px 20px;
    }
    .main-app{
        padding: 0px 30px;
    }
}
@media only screen and (max-width: 1200px) {
    .card-service {
        width: 97%;
    }
}

@media only screen and (max-width: 1000px) {
    .card-service {
        width: 97%;
    }
    .heroImg{
        width: auto;
    }
    .main-app{
        padding: 0px 0px;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
        width: 150px;
    }
    .heroImg{
        width: 100%;
        height: auto;
    }
    .card-service {
        width: 100%;
    }
    .card-service {
        height: auto;
    }
}

.App {
    font-family: 'Lato', sans-serif;
}

.header-font {
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Mulish:wght@900&display=swap');

.heroImg{
    width: 650px;
    height: 550px;
}